body {
  font-family: sans-serif;
  line-height: 1.2;
  margin: auto;
  max-width: 800px;
  padding: 0px;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.container {
  overflow: hidden;
}

.filterDiv {
  float: left;
  background-color: #ffffff;
  color: #000000;
  width: 800px;
  text-align: left;
  margin: 2px;
  display: none;
  align-items: end; 
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 4px 4px 0px 0px;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 15px;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ffffff;
}

/* Add a dark background to the active button */
.btn.active {
  font-weight: bold;
}

.email {
  border: none;
  outline: none;
  /* top, right, bottom, left */
  padding: 6px 6px 30px 0px;
  font-size: 15px;
}

.name {
  border: none;
  outline: none;
  padding: 30px 6px 0px 0px;
  font-size: 26px;
}

p.keywords {
  margin-top: 0;
}
p.linkpage {
  margin-top: 0.3em;
  margin-bottom: 1.3em;
}
p.desc {
  margin-bottom: 1.3em;
}